@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Neue montreal";
  src: url("/NeueMontreal-Regular.otf");
}

@font-face {
  font-family: "Neue montreal bold";
  src: url("/NeueMontreal-bold.otf");
}

.isActive {
  @apply font-bold;
}

body {
  @apply font-[Outfit] dark:bg-gray-800;
}
