@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue montreal";
  src: url("/NeueMontreal-Regular.otf");
}

@font-face {
  font-family: "Neue montreal bold";
  src: url("/NeueMontreal-bold.otf");
}

.isActive {
  @apply font-bold;
}
